.heroBannerSection {
  height: 100%;
  position: relative;
  min-height: 530px;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.videoAnimation {
  position: relative;
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  animation-delay: 0.5s;
  animation: fadeIn 5s;
  display: block !important;
  padding-left: 18px;
  margin-top: 20px;
}

.title .whiteText,
.title .redText,
.contentRight .titleText {
  font-family: Abolition;
  font-weight: 400;
  font-size: 36px;
  line-height: 74%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3);
}

.title .whiteText,
.contentRight .titleText {
  color: var(--text-white);
}

.title .redText {
  color: var(--red-bg);
}

.videoIntro {
  width: 300px;
  height: 300px;
  position: absolute;
  object-fit: cover;
}

.detailWork {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  align-items: center;
  color: var(--text-gray);
  text-align: center;
  display: block !important;
  animation: fadeIn 2s;
}

.contentPanel {
  display: flex !important;
  flex-direction: column;
  position: relative;
  min-height: 300px !important;
}

.fadeOutDown {
  animation: fadeOutDown 0.6s forwards;
  position: absolute;
}

.whiteTextTitle {
  font-size: 30px;
  font-family: Abolition;
  font-weight: 400;
  line-height: 74%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-white);
}

.redTextTitle {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 120%;
  color: var(--red-bg);
}

.middleText {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middleText > span:nth-child(2) {
  margin-left: 10px;
}

.btn_position {
  position: absolute;
  bottom: 52%;
}

.contentRight {
  position: relative !important;
  z-index: 1;
  align-items: flex-start !important;
  text-align: left !important;
  margin-top: 8%;
  right: 0% !important;
  height: 100%;
  display: flex !important;
  flex-direction: column;
}

.hideOutContent {
  bottom: 10%;
  left: -4%;
  animation: fadeOut 1s forwards;
  position: absolute !important;
}

.contentRight span {
  margin-bottom: 20px;
}

.contentRight .fieldNameClient {
  position: absolute;
  right: 0%;
  bottom: 6%;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: var(--red-bg);
  margin-bottom: 2px;
}

.contentRight .nameClient {
  position: absolute;
  right: 0%;
  bottom: -14%;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.contentRight .descriptionText {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  align-items: center;
  color: var(--gray);
}

.viewDetail {
  border: none;
  padding: 8px 24px;
  max-width: 110px;
  max-height: 34px;
  background: var(--red);
  cursor: pointer;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  font-family: Abolition;
  font-size: 1rem;
}

/* arrow */

.circleSlider {
  background: var(--red-bg);
  height: 8px;
  width: 8px;
  text-align: center;
  transform: rotate(50deg);
  border-width: 1px;
  position: absolute;
}

.titleHeight {
  height: 33px;
  width: 280px;
  display: block;
  margin-top: 20px;
}

.detailHeight {
  height: 22px;
  width: 280px;
  display: block;
}

.arrowLeft,
.arrowRight {
  transform: rotate(-90deg);
  position: absolute;
  top: -20%;
  z-index: 2;
}

.arrowLeft {
  left: 20%;
}

.arrowRight {
  right: 20%;
}

.dots {
  position: absolute;
  top: -17%;
  left: 51%;
  transform: translateX(-50%);
}

.dots ul {
  display: flex;
  gap: 8px;
  flex-direction: row;
}

.dots ul li {
  position: relative;
  width: 16px;
  height: 16px;
}
/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(120px);
  }
}
